
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    贝贝回收 <small>不一样的回收</small>
                </h1>
                <ol class="breadcrumb">
                    <li>总量</li>
                    <li><a href="#222">百分比</a></li>
                    <li><a href="#333">增减量</a></li>
                </ol>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-green green">
                    <div class="panel-left pull-left green">
                        <i class="fa fa-bar-chart-o fa-5x"></i>

                    </div>
                    <div class="panel-right pull-right">
                        <h3>8,457</h3>
                        <strong> 数据总量</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-blue blue">
                    <div class="panel-left pull-left blue">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>

                    <div class="panel-right pull-right">
                        <h3>52,160 </h3>
                        <strong> 订单数量</strong>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-red red">
                    <div class="panel-left pull-left red">
                        <i class="fa fa fa-comments fa-5x"></i>

                    </div>
                    <div class="panel-right pull-right">
                        <h3>15,823 </h3>
                        <strong> 消息总数</strong>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-primary text-center no-boder bg-color-brown brown">
                    <div class="panel-left pull-left brown">
                        <i class="fa fa-users fa-5x"></i>

                    </div>
                    <div class="panel-right pull-right">
                        <h3>36,752 </h3>
                        <strong>用户总数</strong>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="222">
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>满意度</h4>
                        <div class="easypiechart" id="easypiechart-blue" data-percent="82">
                            <span class="percent">82%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>评价量</h4>
                        <div class="easypiechart" id="easypiechart-orange" data-percent="55">
                            <span class="percent">55%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>完成率</h4>
                        <div class="easypiechart" id="easypiechart-teal" data-percent="84">
                            <span class="percent">84%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <h4>推荐率</h4>
                        <div class="easypiechart" id="easypiechart-red" data-percent="46">
                            <span class="percent">46%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row" id="333">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        年回收比率统计
                    </div>
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        年订单比率
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->
        <footer></footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
